[2022-07-17 11:19] bjornhellander commented on #2110
I managed to get a test case for this running after upgrading the Roslyn version in the test project. I included some 8.0 specific syntax, to make sure the first part worked. I also added `#nullable enable` in the tested code, since I couldn't find a way to set it in the tested project. Unfortunately I can't reproduce the behaviour from Visual Studio inside the unit test either.

[2022-07-18 09:04] mrpmorris opened #2552 "ITestOutputHelper.WriteLine information is lost in VS if the test is stopped."
I have a test with a difficult to find deadlock. I've added logging via `ITestOutputHelper` to find the bug, but any content written via `ITestOutputHelper.WriteLine` is not output if you stop the test.

[code]

1: Run the above test, and see the output appears in the IDE test output
2: Change "Old" to "New" in `TestOutputHelper.WriteLine`
3: Uncomment the last 2 instructions
4: Run the test and w

[2022-07-18 11:48] bjornhellander commented on #2395
Seems like a Roslyn bug to me, but I am not really sure. Filed [this](https://github.com/dotnet/roslyn/issues/62728) to get their opinion.

[2022-07-18 13:40] jhowlett-scottlogic commented on #2440
@VictorLlanir did you start working on this?

[2022-07-18 14:45] mattzink commented on #2547
FWIW, Stephan has stressed a few times in recent API design meetings that his opinion is still to default to Task, except under specific conditions (as he mentions in the linked blog post's summary). I believe he recommends using ValueTask only when 1) You believe the method will often return synchronously, 2) It will be called often enough that the small allocation avoidance is beneficial, and 3)

[2022-07-18 15:56] teo-tsirpanis commented on #2547
Marc Gravell on the other hand has a different opinion, [recommending to _always_ use `ValueTask`](https://blog.marcgravell.com/2019/08/prefer-valuetask-to-task-always-and.html).

[2022-07-18 16:04] teo-tsirpanis opened #2553 "Multi-target xUnit 2 to .NET Standard 2.0"
The xUnit 2.x packages currently target .NET Standard 1.1, which results in an enormous amount of transitive dependecies being pulled even when the underlying framework does not need them.

To reduce these dependencies, [it is recommended to also target .NET Standard 2.0 if targeting .NET Standard 1.x](https://docs.microsoft.com/en-us/dotnet/standard/library-guidance/cross-platform-targeting). Unt

[2022-07-19 03:15] bradwilson commented on #2545
- 1bfbb1797124932332c5e834422f96a1992ea1f0 added `DataAttribute.Explicit`
- 708089386bb65362fbf1ab88a74fb0672ae018a6 added Skip acceptance tests (it already existed on `DataAttribute`)
- b534b4ed40f8f8ecf55697d3435fac657ee81f31 added `DataAttribute.TestDisplayName`
- 5976446953365569ab68ab03e1ebd50217621476 added `DataAttribute.Timeout` and `ITheoryDataRow.Timeout`
- 8f93611fd0197037275130e102674a

[2022-07-19 03:15] #2545 closed

[2022-07-19 08:14] omghb commented on #2553
Transitive packages of `xunit.assert 2.4.1` contain vulnerabilities:

[code]

This could be solved by adding the `.NET Standard 2.0` as an additional target.

[2022-07-19 16:35] bradwilson commented on #1844
Agreed, this does appear to be a dup. Closing.

[2022-07-19 16:35] #1844 closed

[2022-07-20 16:01] bjornhellander commented on #2475
Can reproduce this with 0.10.0 as specified, but not with 0.12.0-pre.19 or in a unit test

[2022-07-20 16:19] justhoma commented on #2549
We are seeing a similar issue with our solution. It's nowhere near as bad but it's still considerable:

XUnit: 2.4.1
XUnit.Runner.VisualStudio: 2.4.5
Visual Studio 2022 (Version: 17.2.6)

========== Starting test discovery ==========
omitted for brevity but the tests are split across 25 different 'test' projects
========== Test discovery finished: 5863 Tests found in 11.6 min ==========

[2022-07-20 19:48] maw136 commented on #2553
Putting my two cents, I agree all the way. Please push this upgrade. The .NET 1.x is in legacy state as well as .NET Standard 1.x. To share code with .NET Framework one can use .NET Standard 2.0 (and/or) multi-targetting.

[2022-07-21 05:20] james-s-tayler commented on #2553
For context on why the sudden flurry of activity / interest / push for supporting this Trivy, a vulnerability scanning tool, in https://github.com/aquasecurity/trivy/releases/tag/v0.30.0 implemented https://github.com/aquasecurity/trivy/pull/2487 which means NuGet packages (and their transitive dependencies) are now reporting vulnerabilities. I'm having to do a lot of upgrades for security patchin

[2022-07-21 14:10] rainman-306 commented on #2549
We're experiencing issues as well, discovery takes long time, running tests typically completes under a minute.

xunit: 2.4.1
xunit.runner.visualstudio: 2.4.5
VS 2022: 17.2.6

Computer:
i7 1.3 GHz
32 GB memory
2 TB SSD

========== Starting test discovery ==========
 ...
========== Test discovery finished: 3545 Tests found in 20.4 min ==========

[2022-07-22 09:47] Joe-Dunleavy commented on #2366
I'm happy to resolve this issue, granted that some clarification is needed with regard to where the test method for this should go: [#2554](https://github.com/xunit/xunit/discussions/2554)

[2022-07-22 21:39] bradwilson commented on #2547
As mentioned above, any public API endpoints and extensibility points will be made `ValueTask`, because as Marc points out, changing that later becomes a breaking change (and v3 is the right time to do this, since it's the first version that supports `ValueTask`).

I am mostly compelled by Marc's post to just do a blanket conversion; I suspect there are very few truly private APIs in xUnit.net any

[2022-07-22 21:55] teo-tsirpanis commented on #2553
xUnit used to target .NET Standard 2.0 until #1801. @bradwilson do you remember what these "`net46x` and `netstandard2.0` compatibility issues" were? Currently we target .NET Framework 4.5.2 and .NET Standard 1.1. A .NET Framework 4.6.x project would use the .NET Framework 4.5.2 assembly, with or without .NET Standard 2.0.

[2022-07-23 04:14] james-s-tayler commented on #2553
Not sure if it's related to the compatibility issues, but I do know the removal of support for `netstandard2.0` also broke a bunch of functionality that worked in `2.4.0` when you upgrade to `2.4.1` when targeting `netstandard2.0`. Related PR is here: https://github.com/xunit/xunit/pull/2419

[2022-07-23 10:24] teo-tsirpanis commented on #2553
Oh, 2.4.0 was targeting .NET Standard 2.0 and 2.4.1 stopped? _Why? 😕_

[2022-07-23 19:35] bradwilson commented on #2547
Turns out there wasn't much left to do; all the public APIs (except for `Record.ExceptionAsync`) were already updated to consume/return `ValueTask` instead of `Task`. The cleanup work involved primarily updating test helpers to use `ValueTask`: a17ec0d5d208b5b922020f2dfca507b79c6ee67c d1bb4249fd99ac6169692bac34d839649e447d68 fbf9d6c38555189e6307a168e06f0fc27f723fe3 2cee45afdc39ecce100db56c042086a4

[2022-07-23 19:35] #2547 closed

[2022-07-24 06:45] bradwilson commented on #2553
From https://docs.microsoft.com/en-us/dotnet/standard/net-standard?tabs=net-standard-2-0

<img width="635" alt="image" src="https://user-images.githubusercontent.com/16944/180635718-6f3d591b-8c43-4327-af8d-5dabbd0e07c0.png">

I don't recall the details, but basically the .NET team said "oops, we thought it was compatible but there were edge cases".

[2022-07-24 09:11] james-s-tayler commented on #2553
Hmm that doesn't sound like a great reason to not target `netstandard2.0` at all though? Feels more like consumers should upgrade their projects from .NET Framework 4.6.1 to at least 4.7.2, which isn't that big of a deal even on hairy big ball of mud monolith codebases. We're consuming xunit from .NET 6 yet.

[2022-07-24 19:43] bradwilson commented on #2553
It's a HUGE undertaking to do this, because it has a lot of long-reaching impacts based on the fact that we ship multiple versions of libraries in v2 and we can't always predict which will be used.

I am unwilling to invest that effort now, since it just takes away from v3 progress. For the time being, you'll just have to live with the extra dependencies.

[2022-07-24 23:34] bradwilson opened #2555 "Exceptions in GetData of DataAttribute get mis-reported as NotSupportedException"
### Discussed in https://github.com/xunit/xunit/discussions/2522

<div type='discussions-op-text'>

<sup>Originally posted by **EraYaN** May  5, 2022</sup>
So the JsonFileDataAttribute for example (talked about here: https://andrewlock.net/creating-a-custom-xunit-theory-test-dataattribute-to-load-data-from-json-files/) will throw an ArgumentException if the file is not found, if this exception is

[2022-07-24 23:39] bradwilson opened #2556 "Xunit.Sdk.MultipleException Empty"
### Discussed in https://github.com/xunit/xunit/discussions/2517

<div type='discussions-op-text'>

<sup>Originally posted by **rabyjaycie14** April 26, 2022</sup>
Hi,

I'm somewhat new to using assertions, and I just came across `Assert.Multiple` which shipped in [xunit.assert 2.4.2-pre.12 ](https://www.nuget.org/packages/xunit.assert/2.4.2-pre.12).

I'm attempting to use this new method, but am

[2022-07-25 00:36] #2556 closed

[2022-07-25 01:51] bradwilson commented on #2549
Is anybody able to reproduce this outside of Visual Studio? Is anybody able to provide a repro project?

[2022-07-25 01:53] bradwilson commented on #2346
@bjornhellander This is a "pit of success" thing: our analyzers are on by default for most users of xUnit.net, whereas the analyzers you suggest are not on by default for anybody. This is very specifically about the assertions that are async, not generalized "failure to await", because it can cause false positives when testing.

[2022-07-25 01:57] bradwilson commented on #2475
Agreed, cannot repro in 0.12.0-pre.24 so I'm closing this as already fixed.

[2022-07-25 01:57] #2475 closed

[2022-07-25 02:04] bradwilson commented on #2552
This behavior of retaining the old output is Visual Studio's decision, and we don't have any control over that I'm afraid. 😞

[2022-07-25 02:04] #2552 closed

[2022-07-25 02:09] bradwilson commented on #2551
I don't know that we have any control over this, but if we do, it belongs to the VSTest adapter, so I'm moving this issue there.

[2022-07-25 02:15] bradwilson commented on #2546
Can you provide a repro project? I tried this:

[code]

and the results were what I expected:

[code]

[2022-07-25 02:17] bradwilson commented on #2540
For now, that is correct. We do not have VSTest support for v3 right now, which means:

- no `dotnet test`
- no Visual Studio Test Explorer
- no Visual Studio Code in-editor UI

This is a temporary situation that will be fixed once we get closer to releasing v3.

[2022-07-25 02:22] bradwilson commented on #2542
I'm not able to reproduce this:

<img width="1048" alt="image" src="https://user-images.githubusercontent.com/16944/180680756-582f3bca-bcc4-40e9-9cd9-df34b8ed58a3.png">

[2022-07-25 02:25] bradwilson commented on #2538
Fixture classes are intended to be things that can be created independently. Your usage of `IClassFixture<SchemaCache>` does not match the constructor of the test class (which is currently taking `PostgreSqlResource`). That is at least part of your problem.

[2022-07-25 02:38] bradwilson commented on #2536
What's the use case for returning a custom awaitable from a unit test method?

[2022-07-25 02:43] bradwilson commented on #2535
We do not intend for the output in ITestOutputHelper to allow for ANSI coloring. We assume that the text written there should be made readable to the end user, including any control characters, so we escape things which are unprintable and make them printable.

This is working as designed.

[2022-07-25 03:02] bradwilson commented on #2495
I cannot reproduce this with:

- `dotnet test` and Visual Studio 2022 against .NET Framework 4.7.2 on Windows 11
- `dotnet test`, VS Code, and Visual Studio 2022 against .NET 6 on Windows 11
- `dotnet test` and VS Code against .NET 6 on Ubuntu 20.04
- `dotnet test` and VS Code against .NET 6 on Intel macOS 12.4

I do not have access to an M1 Mac. My Intel Mac does not have VS Mac installed.

This

[2022-07-25 03:03] bradwilson commented on #2533
We don't use the release notes system on GitHub any more.

Release notes are here: https://xunit.net/#releases

[2022-07-25 03:03] #2533 closed

[2022-07-25 03:05] bradwilson commented on #2533
I have deleted all the old releases from GitHub, just to be sure there's no future confusion.

[2022-07-25 03:11] Socolin commented on #2535
Any chance to add an option to allow ANSI Code ?
I agree it's working as expected but  getting color in test output improve readblilty and help a lot to find what's going wrong with the test and make it easier to fix. And this is even more welcome for large test. When we need some noisy output to know what's going on (for example with specflow what is the steps that failed).

[2022-07-25 03:12] #2553 closed

[2022-07-25 03:14] bradwilson commented on #2512
Related to a different issue, I have deleted all the old releases on GitHub, which had bad links.

All release notes live here: https://xunit.net/#releases

[2022-07-25 03:14] #2512 closed

[2022-07-25 07:12] lonix1 opened #2557 "Generic collection fixtures"
### Discussed in https://github.com/xunit/xunit/discussions/2425

<div type='discussions-op-text'>

<sup>Originally posted by **lonix1** November 24, 2021</sup>
@bradwilson I didn't know whether to file this as an issue or discussion, sorry!

A generic fixture and support classes:

[code]

I stripped down those classes to show a minimal sample (but there is "stuff" in them).

And the test class:
[

[2022-07-25 07:59] justhoma commented on #2549
Not sure how you would reproduce this outside of VS? Any pointers? Is there a way to debug? increase logging level?
I cannot share our source and it only appears to be an issue with large solutions.

[2022-07-25 08:04] pawanbrn commented on #2549
I tried once with Jetbrains rider and seems to be same issue where it takes longer time to discover.
It works fine with new Test project of XUnit when number of tests are less.

And same I can't share repo as belongs to official.

[2022-07-25 08:21] mrpmorris commented on #2552
Thank you. Checked in Rider and confirmed!

[2022-07-25 10:04] Joe-Dunleavy commented on #2366
`CulturedTheoryAttribute` already inherits from `TheoryAttribute`. However, it isn't clear that  `CulturedTheoryAttribute` has any reason to exist given that its functionality is never used.

ArgumentsFormatterTests.Enums.NonFlags &  ArgumentsFormatterTests.Enums.Flags use the `[CulturedTheory]` attribute, but they might as well use `[Theory]` instead, as no arguments are being passed to `Cultured

[2022-07-25 15:04] mrpmorris commented on #2552
For any other interested parties...

https://developercommunity.visualstudio.com/t/ITestOutputHelperWriteLine-information-/10103169

[2022-07-25 23:21] bradwilson commented on #2535
If we look explicitly for `ESC[` to say "don't escape that ESC" but continue to escape everything else, that would be sufficient?

[2022-07-25 23:29] bradwilson commented on #2549
My guess, since you have no repro, is that you are doing _something_ during discovery that is taking a long time. We have a lot of extensibility points here, but the most likely one is that the actual data discovery is what's taking so long.

Try [setting `preEnumerateTheories` to `false`](https://xunit.net/docs/configuration-files) and see if that resolves it. If it does, then your data discovery

[2022-07-25 23:30] bradwilson commented on #2549
With `dotnet test` (for .NET Core projects) or `xunit.console` (for .NET Framework projects).

[2022-07-25 23:41] bradwilson commented on #2366
I think I've changed my mind.

When I wrote this issue, `TheoryAttribute` had no properties, so inheriting from it made no sense. In the intervening months, I added `DisableDiscoveryEnumeration` to it, and [code inside of `TheoryDiscoverer` that uses that property](https://github.com/xunit/xunit/blob/12026778465c166f94521ea634bc923cf05cb3f1/src/xunit.v3.core/Sdk/Frameworks/TheoryDiscoverer.cs#L135

[2022-07-25 23:57] Socolin commented on #2535
Yes, only the `escape` (`\x1b`) character is needed, what's next is then read interpreted by the terminal https://en.wikipedia.org/wiki/ANSI_escape_code#SGR_(Select_Graphic_Rendition)_parameters

[2022-07-26 09:57] jhowlett-scottlogic commented on #2440
I have a possible solution for this that also addresses Equal(Span<char>) but waiting on a reply to a workflow [query](https://github.com/xunit/xunit/discussions/2558).

[2022-07-26 13:42] nohwnd opened #2559 "DisableAppDomain switch is not fully respected for Discovery"
I am testing with Roslyn like solution, to see how much gain we would get by passing DisableAppDomain switch by default in discovery to avoid the slowness of RealProxy #2323, because we run in parallel by default now, and isolate on process level.

DisableAppDomain vstest option switch was implemented in #944, but I don't think it is fully propagated for discovery. When I debug the testhost proces

[2022-07-27 12:29] matthew-a-thomas commented on #2536
To assert that it's awaitable. But that's easy enough to work around as shown above.

[2022-07-27 23:02] bradwilson commented on #2536
In my opinion: "Returning a custom awaitable from a test" != "testing that your custom awaitable is awaitable". In particular, you're missing the assertion phase of the test.

I don't think I'm interested in supporting custom awaitables returned from tests.

[2022-07-28 05:22] matthew-a-thomas commented on #2536
I'm totally okay with that.

Well, I was kind of being sloppy in what I said. To be nitpicky, I meant "to assert that it satisfies the custom awaitable type contracts" which includes more than "you can `await` it". E.g. my repro above shouldn't pass.

But that set of things does not include anything that `await Task.Run(async () => await customAwaitableType);` and friends cannot do.

And perhaps m

[2022-07-28 05:22] #2536 closed

[2022-07-28 08:09] msiemens commented on #565
Regarding Rider, this seems to be missing in the IDE itself, see https://youtrack.jetbrains.com/issue/RSRP-482066/Support-IMessageSink-in-test-output. I think leaving a vote there would help increasing visibility for this issue at JetBrains

[2022-07-28 10:45] bjornhellander commented on #2346
Ok. I just thought it would be a waste of time to re-implement something that already exists, but I see your point.

[2022-07-28 18:29] bradwilson commented on #2366
Yeah, I'm going to close this. Apologies for the effort you put in that I'm throwing away. 😞

[2022-07-28 18:29] #2366 closed

[2022-07-29 07:38] Joe-Dunleavy commented on #2366
No problem at all.

[2022-07-29 09:35] Tomheza commented on #2534
Hi, I would like to investigate this issue

[2022-07-29 11:40] justhoma commented on #2549
Setting **preEnumerateTheories** to **false** appeared to make no appreciable difference.

Here's the log from within VS in case it helps:

Log level is set to Informational (Default).
Connected to test environment '< Local Windows Environment >'
Test data store opened in 3.491 sec.
========== Starting test discovery ==========
[xUnit.net 00:00:00.01] xUnit.net VSTest Adapter v2.4.5+1caef2f33e (64

[2022-07-29 17:50] bjornhellander opened #2560 "xUnit2005 not triggered when one parameter is null"
Repro code:
[code]

Expected result:
xUnit2005 triggered for all asserts, since at least one of the values are of value type.

Actual result:
xUnit2005 only triggered for the first assert. (xUnit2003 is however triggered for the last one.)

xunit version: 2.4.1

[2022-07-31 01:10] bradwilson commented on #2549
What about when you set `preEnumerateTheories` to `false`? Also, how about turning `diagnosticMessages` and `internalDiagnosticMessages` both to `true`, to see if anything shows up there?

[2022-07-31 01:12] bradwilson commented on #2549
It's also strange that VS isn't running any of those discoveries in parallel. Even 16 seconds is a long time for discovery (IMO), but if it were running all the discoveries in parallel, you'd be looking at a minute or less instead of 12 minutes. 😞

[2022-07-31 02:10] bradwilson commented on #2549
Okay, now that I look closer, something is very strange here. They all seem to be long delayed before discovery starts, but discovery itself happens very quickly. Example:

[code]

Why did VSTest wait 35 seconds before _starting_ discovery? The actual discovery took well under half a second.

[2022-08-01 08:47] justhoma commented on #2549
I created a new solution and added three new Test Projects based on the xUnit Test Project template.  I changed the code inside each of the 'UnitTest1' classes to:

[code]
As you can see by the logs below the actual test discovery is negligible, however it still took 22 seconds to complete.

[code]

I enabled both ```diagnosticMessages``` and ```internalDiagnosticMessages``` but I did not see any

[2022-08-01 11:49] nohwnd commented on #2549
We started doing that, and it will ship in the next version of VS (17.3).

[2022-08-01 12:13] justhoma commented on #2549
Log file attached:

[logs.txt](https://github.com/xunit/xunit/files/9233752/logs.txt)

[2022-08-01 12:20] nohwnd commented on #2549
@justhoma  is that all that was there? Only a single file? The info there is not complete, it only shows the execution up until extensions are loaded, which is happening before discovery even starts.

[2022-08-01 12:57] justhoma commented on #2549
It was the only file which is odd.
Anyway, I closed the solution, deleted the contents of the %temp%\TestPlatformLogs and the .vs directory and reopened the solution and that produced 4 files:
[logs.host.22-08-01_06-54-09_82793_9.txt](https://github.com/xunit/xunit/files/9234045/logs.host.22-08-01_06-54-09_82793_9.txt)
[logs.host.22-08-01_06-54-17_17006_12.txt](https://github.com/xunit/xunit/files

[2022-08-01 14:33] nohwnd commented on #2549
This is the relevant part of the log, there is 5s gap when xunit does something. I don't think this is vstest fault, we try to log everything that is happening, and console just waits for testhost to send some events, and testhost does nothing:
[code]

[code]

I guess the best way to diagnose this would be to start perfview, record the execution, and look at flame graph in the related time slice:

[2022-08-01 21:13] bradwilson commented on #2549
I'm not 100% sure your configuration file is correct, because enabling `diagnosticMessages` should have at least changed the output like this (example):

[code]

Since we don't see any additional output here, that also makes me suspect that your `preEnuemrateTheories` change didn't take effect, either.

[2022-08-01 21:32] bradwilson commented on #2549
I realize now digging into the source for the VSTest adapter, we print the banner at a different time than I expected. Oops. 😁 So you're right, it's definitely all in our code.

Before you see the "Discovering" banner, we are basically setting up the app domain and loading the assemblies. Here's the banner printing and the parsing of the RunSettings XML (neither should take any time): https://gith

[2022-08-02 01:13] #2397 closed

[2022-08-02 11:05] MichaCo opened #2564 "TryConvertType errors for InlineData of type int to nullable double - since version 2.4.2"
Hi,

I'm getting the following error in existing tests after upgrading to Xunit 2.4.2:

[code]

I can reproduce it in isolation with the following example:

[code]

This is working fine with version 2.4.1.

Tested in latest version of VS 2022 targeting NET6

[2022-08-02 14:28] csimone86 opened #2565 "My Fixture is initialized more than once even though I use CollectionFixture"
Hi everyone,
I am writing some test classes in `.net6` using `xUnit 2.4.1` in VS2022.

I have two assemblies:
- The first one contains the Fixture;
- The second one the tests + the collection.

What I expect is that I run into the constructor of the Fixture class just once. But what happen is to run into it different times.

Here all my codes:

First assembly, `the Fixture` class:

    public clas

[2022-08-02 14:48] pvlst commented on #2564
I'm experiencing the same problem, only related to `long`.

It can be avoided by adding literal suffix to the number, e.g. `1000` -> `1000L` for `long`. I guess you can change the number from `234` to `234.0` and it'll work too. But it's not very comfortable.

[2022-08-02 14:57] MichaCo commented on #2564
yep, changing the type to double via `234d` or whatever the method expects, works.
Its not a biggy.

Still wanted to report it as an issue ;)

[2022-08-02 15:10] austindrenski commented on #2564
My org is also seeing this after bumping to `2.4.2` this morning. Can confirm the previously reported workarounds work for us too, but as this bug breaks hundreds of tests across our org, updating each individual test, while viable, is not particularly practical.

[2022-08-02 16:34] justhoma commented on #2549
Here's what I see when I add the ```xunit.runner.json``` file with ```diagnosticMessages``` and ```internalDiagnosticMessages``` set to `true `to the test solution I referred to above:

[code]

[code]

Is this enough or would you like me to try the other solution?

[2022-08-03 12:10] nohwnd commented on #2559
@bradwilson not trying to be pushy, but this would really help us speed up things under VS. Is it okay if I PR fixes for it?

[2022-08-03 17:36] bradwilson commented on #2565
I am unable to reproduce what you're seeing.

I simplified the example even further (and tested in both .NET Framework and .NET Core), and made it so the test framework can tell you if it's failing or not (rather than trying to capture and inspect debug output by hand).

*Fixture\Fixture.csproj*

[code]

*Fixture\MyDbContextFixture.cs*

[code]

*Tests\Tests.csproj*

[code]

*Tests\Collection.cs*

[2022-08-04 06:13] danports commented on #2564
I'm going to guess that #2429 introduced this bug. Notably, the test suite that PR modified does not appear to cover the case of nullable numeric parameters with conversions.

[2022-08-04 06:42] bdovaz opened #2567 "xUnit1033 incorrect detection"
@bradwilson

First, the page does not exist:

https://xunit.net/xunit.analyzers/rules/xUnit1033

https://xunit.net/xunit.analyzers/rules/

If I have this code, it does not detect it correctly:

[code]

[code]

It seems that it only expects a constructor with one parameter... But ITestOutputHelper is a parameter that can be passed along with the fixture:

https://xunit.net/docs/capturing-output

Th

[2022-08-04 06:57] bdovaz commented on #2567
Created a PR https://github.com/xunit/xunit.analyzers/pull/150

[2022-08-04 09:51] justhoma commented on #2549
Is this issue related? [`Slow performance on discovery / running due to discovering TestReporters`](https://github.com/xunit/visualstudio.xunit/issues/317#issue-1244402428)

[2022-08-04 13:19] neerajmathur opened #2568 "SECURITY ISSUE: XUnit 2.4.2 is vulnerable for CVE-2019-0820"
Hi,

In our code scan, we have found that XUnit 2.4.2 is vulnerable to CVE-2019-0820, Please have a look at below dependency graph where it is using System.text.regularexpressions.4.3.0.nupkg which has CVE-2019-0820 vulnerability.

![image](https://user-images.githubusercontent.com/6531916/182855362-1e46f9b1-d63b-456f-bb6d-ddde9c20aefc.png)

Please let us know when you are planning to fix this iss

[2022-08-04 21:34] alexmurari commented on #2568
The `System.text.regularexpressions` [nuget package](https://www.nuget.org/packages/System.Text.RegularExpressions/4.3.0) is flagged as vulnerable and it has a [patch version (4.3.1)](https://www.nuget.org/packages/System.Text.RegularExpressions/4.3.1) from 2019 that fixes the vulnerability.

I wonder why the package resolver doesn't select the latest patch version available or at least one versio

[2022-08-05 06:58] EgilSandfeld commented on #819
For me, enabling **Only break on exceptions thrown from user code** in `Breakpoints` settings -> `CLR Exception Breakpoints` fixed this issue
https://i.imgur.com/AyRyIqY.png

[2022-08-05 15:46] justhoma commented on #2549
When is this expected to be released?

[2022-08-05 15:48] justhoma commented on #2549
@nohwnd When is VS (17.3) expected to be released? This is becoming a fairly big issue and appears to be impacting pretty much all our dotnet solutions.

[2022-08-05 16:48] bradwilson commented on #2549
Seems like a pretty likely explanation.

[2022-08-05 17:16] greendimka commented on #1473
Can we get an example of IXunitSerializable implementation?

[2022-08-05 21:53] bradwilson commented on #1473
There are several uses of it inside the unit tests for the serialization system: https://github.com/xunit/xunit/blob/v2/test/test.xunit.execution/Common/XunitSerializationInfoTests.cs

[2022-08-06 09:14] WernerMairl commented on #2567
same here - happy to see the PR merged!

[2022-08-07 23:09] bradwilson opened #2569 "Non-public MemberData has strange/unhelpful error message"
csproj:

[code]

cs:

[code]

Expected:

An error message during discovery/execution that indicates that non-public member data was found.

Actual:

[code]

Note: the .csproj file above specifies a `<NoWarn>` for xUnit1016, because otherwise the analyzer will cause a build failure. Thus, most people will not see this unless they have disabled (or reduced the severity) of xUnit1016.

Found here: ht

[2022-08-07 23:20] bradwilson commented on #2568
This is a far downstream dependency from us. I don't believe we can fix this; this should be a matter to be fixed with `netstandard.library`.

[2022-08-07 23:21] bradwilson commented on #2567
PR was merged. Thanks!

[2022-08-07 23:21] #2567 closed

[2022-08-07 23:22] bradwilson commented on #2567
This will be part of the `1.1.0` release of the analyzers. ([Pre-release builds](https://myget.org/feed/xunit/package/nuget/xunit.analyzers) can be found on our [MyGet Gallery](https://myget.org/gallery/xunit)); this was part of `1.1.0-pre.2`.

[2022-08-08 09:30] lemonlion commented on #1679
@bradwilson , from what you said, the issue is unpredictable behaviour in classes/records that specifically implement a non repeatable serializable pattern of behaviour in their properties.  This is fair enough, however I feel the user should be able to mark objects they're using as serializable explicitly when they know they are consistently serializable, and do so by mechanisms that are more fle

[2022-08-08 09:55] justhoma commented on #2549
Any plans to do anything?

[2022-08-08 14:51] lucasteles commented on #2134
Yes, but for xUnit would be good, so when I inherit from a class with an IClassFixture, would not be necessary to reimplement that constructor repassing the arguments

[2022-08-08 15:48] bradwilson commented on #2549
It sounds like we're waiting on a fix from Visual Studio.

[2022-08-09 11:21] kiwidev commented on #2549
Note in the issue mentioned above (if I get time I'll work up a PR), the fix shouldn't require Visual Studio - its inside the visualstudio.xunit project.
I notice that the main xunit runner does the same thing at https://github.com/xunit/xunit/blob/main/src/xunit.v3.runner.msbuild/xunit.cs#L405

Ideally there would be some sort of filtering applied (such as `*.reporters.*.dll` which matches the de

[2022-08-10 12:44] DSanchen opened #2717 "Static constructor of ref class being executed twice"
I just started using xunit, and find it very nice to transition from MSTest (v2) to xunit. Nearly all my tests just worked after migrating.
I came accross one test suite of mine, where I want to test a mixed mode (c++/cli) DLL that I use in production.
In that DLL I implemented a ref class with some public static variables, that are initialized to reasonable default values in the static class cons

[2022-08-10 15:11] 304NotModified commented on #2569
Related: https://github.com/xunit/xunit/issues/2511

[2022-08-11 03:46] bradwilson commented on #2511
@MisinformedDNA The Roslyn analyzer exists in `xunit.analyzers 1.0.0`.

[2022-08-11 03:47] #2569 closed

[2022-08-11 07:50] nohwnd commented on #2549
@justhoma I think it released yesterday?

@kiwidev  FWIW in vstest we currently use a naming convention e.g. *TestAdapter.dll, and then an assembly level attribute also by convention:

[code]
When found we inspect only those types for the desired type of extension, rather than inspecting all types.

[2022-08-13 09:36] snakefoot commented on #2568
Just downgrade to xUnit 2.4.0 (Supports NetStandard2.0), and wait for xUnit 3.0. See also https://github.com/xunit/xunit/issues/2470 and https://github.com/xunit/xunit/issues/2294 and https://github.com/xunit/xunit/pull/2529

[2022-08-13 22:04] Eliminator1999 commented on #2560
Hi, I am a first time contributer, and would want to try and take this task, and would appreciate any help in starting

[2022-08-15 23:27] jzabroski commented on #1731
Ran into this xUnit1013 problem again today - but I think it only occurred because I had compiler errors. After resolving the compiler errors, the warning remained. After cleaning out all bin folders and all obj folders, the problem went away. 🤷

There's some weird stuff sometimes with Roslyn Analyzers.

[2022-08-16 10:11] JulianBirch opened #2572 "Weirdness in parameter conversion (InlineData)"
I don't know if this qualifies as a bug or not, but

[code]

FWIW, I _think_ the behaviour might have changed between 2.4.1 and 2.4.2.

Running 6.0.302, because it's looking like this behaviour might also be minor-version sensitive.

[2022-08-16 16:02] MisterSneaky commented on #594
Update: In the newer versions of xUnit, you will need Assembly.GetExecutingAssembly().Location

[2022-08-16 17:16] gdoron opened #2573 "Opting out of AsyncTestSyncContext"
Hi All,

Everyone today's under the impression we are done with deadlocks because of SynchronizationContexts since they were removed in ASP.NET Core.
Problem is, the same code that works perfectly in development, staging and production is causing very weird problems and even deadlocks when run inside xunit tests.
This is because xunit added 2 SynchronizationContexts:

- MaxConcurrencySyncContext f

[2022-08-16 19:25] bradwilson commented on #594
Also worth mentioning that we're shipping a TestContext in v3. https://github.com/xunit/xunit/blob/main/src/xunit.v3.core/TestContext.cs

[2022-08-17 04:50] ElanHasson commented on #621
Hi @bradwilson, I can't seem to find v3 anywhere. All I can see is an alpha version from late 2021.

What is the status of 3.0?

[2022-08-17 16:53] bartelink commented on #621
There is a roadmap in https://github.com/xunit/xunit/issues/2133
If you search around the issues, there may be a CI nuget feed, but it's definitely not released - the v3 impl is WIP on `main`

[2022-08-17 16:55] ElanHasson commented on #621
Good call @bartelink, my bad on reviving this.

I had difficulty finding info on V3 and this was the context I was looking for.

Thank you!

[2022-08-18 11:59] JulianBirch commented on #2572
Confirmed: doing the same thing with an `int` to `long?` works on 302, but not on 202.

[2022-08-19 01:48] bradwilson commented on #290
No, there's nothing at issue with the implementation. We just don't intend to ship it as part of the framework.

[2022-08-19 02:36] bradwilson commented on #621
Every commit to the `main` branch is pushed to the [xUnit.net MyGet Gallery](https://myget.org/gallery/xunit). The main package is here: https://myget.org/feed/xunit/package/nuget/xunit.v3

[2022-08-19 02:41] bradwilson commented on #621
The usage instructions here are basically still applicable: https://xunit.net/docs/v3-alpha

[2022-08-19 03:30] SimonCropp commented on #621
@bradwilson do u know if the rider test runner supports xunit 3?

[2022-08-19 03:35] bradwilson commented on #621
@SimonCropp No 3rd party runner support yet (not even Visual Studio or VS Code). Runner Utility doesn't have v3 support yet.

[2022-08-19 12:47] JDCain opened #2574 "Unusual Theory test names with double"
Since updating to 2.4.2 theories which take a double generate unusual test names.

[code]
in 2.4.1 they display as
[code]

[2022-08-24 05:38] kzu commented on #1937
Same here, had to disable all diagnostics starting with "MemberData..." to void build errors, via `.editorconfig`:

[code]

Setting them as anything other than `none` caused a build error again.

The source is nothing special:

[code]

[2022-08-25 02:53] bradwilson commented on #1937
@kzu Let me know if you can provide a repro. We have our [integration project](https://github.com/xunit/xunit.integration/tree/main/analyzers) which doesn't show this issue.

[2022-08-26 07:29] RussKie commented on #2396
This is breaking tests in https://github.com/dotnet/winforms/ after we've been forced to update to 2.4.2....

[2022-08-26 12:39] daneelbester commented on #2574
Was able to re-recreate the OP's issue.

Environment details:
OS: Windows 10
IDE: Visual Studio 2022

xUnit version 2.4.1
![image](https://user-images.githubusercontent.com/38572018/186904820-a12143df-aa52-4395-a3ea-3141dca279b7.png)

xUnit version 2.4.2
![image](https://user-images.githubusercontent.com/38572018/186904925-ea22480c-7646-42b6-b106-d7b5eef7da19.png)

Attempted to resolve the issue,

[2022-08-26 16:45] ericstj commented on #2564
Looks like aspnetcore is hitting this as well.  Here's a repro of how they hit it:
[code]

[2022-08-26 23:52] bradwilson commented on #2564
There are currently no plans to release any more 2.x releases.

That said, this was an unintentional feature. I'm not convinced that this is something I'd want to become fixed again. .NET itself does not support this conversion; the fact that we did previously was unintentional (there were never any tests that ensured that it worked, which is how it was "broken"), so I'm not convinced at this poin

[2022-08-26 23:54] bradwilson commented on #2564
I'll leave this open for a bit for commentary, but will likely close this issue.

[2022-08-27 00:08] bradwilson commented on #2396
The workaround is to not use the `Assert.Throws` overload that checks the param name, and instead just use the normal `Assert.Throws`, take the return value (which is the exception) and do a separate `Assert.Null`.

[2022-08-27 13:00] alexmbra opened #2578 "XUnit and MSTest returnig different values. Why? Is this a bug?"
[code]

Using MSTest it works fine and the decryptedActual variable gets this value: "Testando encriptação".

[code]

But if I use XUnit, it does not retun the same result. The decryptedActual variable gets this value: "Testando encript". It is missing "ação" from the decripted string.

[code]

While debbuging I found that this line of code...

[code]

is the one returning different values with XU

[2022-08-27 18:20] MichaCo commented on #2564
Hi @bradwilson
If you decide to not fix this, that's fine.

I was just already looking into that a bit and thought I post my findings anyways.

Regarding, ".NET itself does not support this conversion". That's not really true I think, Nullable has an implicit operator to its wrapped type, and then e.g. Int64 converts to Int32 via IConvertible, too.

This for example works and is kinda the same I g

[2022-08-27 18:46] bradwilson commented on #2564
@MichaCo I had no doubt that it could be fixed.

My point about ".NET does not support this" is via reflection. It will up-convert (for example, `Int32` to `Int64`) and it will convert to the nullable (for example, `Int32` to `Nullable<Int32>`), but it will not do both at the same time (`Int32` to `Nullable<Int64>`). So in this sense, xUnit.net now simulates the same behavior that .NET itself does

[2022-08-27 19:02] MichaCo commented on #2564
@bradwilson yeah ok, for reflection, that's true; makes sense now. Thanks

[2022-08-27 19:59] #2396 closed

[2022-08-29 06:33] RussKie commented on #2396
Thank you for the guidance.

[2022-08-29 12:01] ilya-scale commented on #2572
I have a similar problem on 2.4.2 that can very well be connected to this, when I have `InlineData(1)` and the argument is `long? value`, the conversion fails saying that Int.32 cannot be converted to nullable Int.64.

Additionally `Assert.Equal` stopped figuring out nullability for `IEnumerable<SomeType>? obj`, it just fails during compilation for the line `Assert.Equal(obj, obj1);` and says that

[2022-08-31 14:39] bdovaz commented on #2567
@bradwilson do you have an ETA for 1.1.0? Thanks.

[2022-08-31 14:47] bdovaz commented on #2568
I don't understand this reasoning.

In 2.4.0 it was targeting .NET Standard 2.0:

https://github.com/xunit/xunit/blob/2.4/src/xunit.assert/xunit.assert.csproj

As of 2.4.1 it was changed to .NET Standard 1.1:

https://github.com/xunit/xunit/blob/2.4.1/src/xunit.assert/xunit.assert.csproj

https://github.com/xunit/xunit/blob/2.4.2/src/xunit.assert/xunit.assert.csproj

It is because of this change o

[2022-08-31 17:35] bradwilson commented on #2371
I'm thinking about usability, and I think one potentially good idea would be to add some stability to the randomness. Adding some stability allows someone to re-runs tests without any additional effort in the exact same order, though obviously if the user re-builds the assembly, they'll get a potential new random order. (This is where we want to be able to easily report and re-use the randomizatio

[2022-08-31 17:51] jaredpar commented on #2371
The `ModuleVersionId` field is reproducible so even if you do rebuild it will still produce the same value. That would mean on the same machine it's stable random until you change the code in the project or one of the dependencies change.

CI machines typically have a bit of randomization in the path the code is checked out to. This in turn will cause the `ModuleVersionId` to change. The path can

[2022-08-31 17:53] bradwilson commented on #2371
Agreed, they both seem desirable.

Sounds like you think MVID is a good choice for the stability. Any thoughts on integer conversion? Is GUID's `GetHashCode` reasonable here or should I implement my own? (I know it's changed from .NET Framework to .NET Core, but I don't think that should be an issue.)

[2022-08-31 18:00] jaredpar commented on #2371
Yes. It seems like a good choice and has a lot of the characteristics I think are desirable here.

My instinct would be to use the `GetHashCode`

[2022-09-01 01:00] #2568 closed

[2022-09-01 01:00] bradwilson commented on #2567
No ETA. You can use the 1.1.0 pre-release builds from MyGet until it does.

[2022-09-01 05:19] bdovaz commented on #2567
@bradwilson The problem also lies in the fact that xunit depends on xunit.analyzers >= 1.0.0.

That's why I can neither downgrade nor remove the analyzers package...

This dependency exists for convenience only, isn't it? I mean, in reality there is no such dependency.

I have my doubts that this is correct, the analyzers should be something opt-in to give the possibility to add or remove it at le

[2022-09-01 05:22] bradwilson commented on #2567
The 1.1.0 pre-release version satisfies `>= 1.1.0`.

`xunit` is a meta-package. If you don't want all three of the dependencies that it brings, then remove `xunit` and add the ones you want instead (we give the same advice for anybody who doesn't want to use our assertion library).

[2022-09-01 16:41] MisinformedDNA commented on #2060
Another potential workaround/alternative:

[code]

[2022-09-02 07:27] terrajobst commented on #2060
@j0nimost what would the suggested f change to the compile be?

The runtime and C# have array covariance, which was done to improve interop with Java.

That is, a method taking object[] can be called with a string[]. However, for attributes another constraint is that the expression must be considered a literal. That's why you need the manual object[] wrapping.

You don't need it for the byte[] cas

[2022-09-05 06:43] trivalik commented on #2578
Could you please provide a full example, since your code misses: InitVector, StrEncriptyPass and Keysize

[2022-09-05 14:23] bartelink commented on #2578
Xunit does not instrument your code in any way (neither does MSTest).

The issue is likely environmental in nature - either you have code that's sensitive to locale settings, or platform (x84/x86, dotnet version and/or bittedness).

There's also a small possibility of some encoding issues if these are in different files (but the texts cipherText does look identical above)

I'd suggest logging a fu

[2022-09-05 19:19] gdoron commented on #2573
@bradwilson sorry for the rude ping.
But any chance you can review the issue?

Thanks in advance!

[2022-09-05 19:31] bradwilson commented on #2573
You can deadlock the max concurrency context, which you already have a way to opt out of.

Looking at the code, I cannot see how you could deadlock the async void context itself, though it does delegate to the context that is wraps (so if you're using a context which could be deadlocked, like one of the STA/UI thread extensions, that's what you're deadlocking, and it has nothing to do with the asy

[2022-09-08 21:22] CharlesSchimmel commented on #1945
+1 for this. In the past I've used regular inheritance to reuse Facts but I often wish I could compose different sets of common tests.

[2022-09-10 16:18] Sevarius commented on #2560
@Eliminator1999 May I ask, are you still working on this issue?

[2022-09-11 08:46] Eliminator1999 commented on #2560
go ahead 👍

[2022-09-12 00:04] alexmbra commented on #2578
How would that be possible? I created a test with MSTest, run it and it worked fine. Right after I installed xunit, changed the test to Xunit instead of MStest, and got different results. Nothing was changed between changing MSTest to Xunit.

The files are the same.

Thanks but I cannot do that.

[2022-09-12 00:07] alexmbra commented on #2578
Keysize= 256. InitVector is a 16 character string and as StrEncriptyPass it can be text with that size.

[2022-09-12 05:23] trivalik commented on #2578
It does not mean that you should make public all source code just the unit tests related. Means create a new git repository with just required.

[2022-09-12 07:07] bartelink commented on #2578
The bottom line is that xUnit is called by the test runner, and then it calls your code. It does not modify the IL or do any other tricks.

The bottom line is that it's extremely unlikely that this is an xUnit issue

It's also extremely unlikely that the number of readers of this issue will get out of double figures here, especially when there is no repro, so doing a minimal test repo and/or narro

[2022-09-16 17:38] Kampfmoehre commented on #2572
I have a similar problem where I can no longer run this test:
[code]

I receive the following error with stacktrace
[code]

This is failing with the update to Xunit 2.4.2, with 2.4.1 it still works flawlessly.

We are using `dotnet test` with `xunit.runner.visualstudio` 2.4.5 on Linux machines if that matters somehow.

[2022-09-20 14:50] SrChronus opened #2585 "Overridden test with InlineData also executes InlineData on base implementation"
### Description

When overriding a test decorated with the InlineDataAttribute all the datarows on the base will also be executed. This makes overriding a test quite useless.
We use test overriding to test feature flag implementations.

### Steps to reproduce
[code]
### Expected behavior
MyTest (2 tests) [0:00.004] Success
TestMethod (2 tests) [0:00.004] Success
TestMethod (orange) [0:00.004] Succ

[2022-09-22 10:22] cjlebel opened #2586 "Object of type 'System.Int32' cannot be converted to type 'System.Nullable`1[System.Int64]'."
### Description
Just updated xunit and xunit.runner.visualstudio, and now some tests that were working with the previous versions, are throwing an exception saying that they can't convert an int from the InlineData to a long? which is a parameter of the test.

xunit 2.4.1 > 2.4.2
xunit.runner.visualstudio 2.4.3 > 2.4.5

### Steps to reproduce
**Fails after upgrade**
`[Theory]
[InlineData(1)]
publi

[2022-09-22 11:37] bartelink commented on #2586
Duplicate of https://github.com/xunit/xunit/issues/2572

[2022-09-24 13:14] x789 commented on #2535
I would like to take over this issue. @bradwilson, can you please assign it to me?

[2022-09-24 23:19] bradwilson commented on #2535
@x789 We don't really use assignment. You can just open a PR.

[2022-09-25 02:51] #2458 closed

[2022-09-27 09:11] bilalisa2022 commented on #2441
What is the status? I'm having the same problem. Setting version to 0.0.0.0 on my dynamically generated assembly does not solve the issue. @jagohr if you found a solution, do you mind sharing it with me?

[2022-09-27 09:16] bilalisa2022 commented on #2441
Here's my test runner
`
using Xunit.Runners;

namespace Company.Core.Tests.Utils
{
    public class TestRunner
    {
        private static readonly object ConsoleLock = new();

        private static readonly ManualResetEvent Finished = new(false);

        public int Result;

        private readonly string _assemblyFileName;

        public TestRunner(string assemblyFileName)
        {

[2022-09-27 21:46] jzabroski commented on #2418
@bradwilson I think this may be causing a slight (and very annoying) regression in InlineData theories for the special `0` literal in C#.

[code]

The above program works without errors in 2.4.1.  On 2.4.2, it yields the following stack trace and test failure - it also seems to cause the tests to run ridiculously slow, but that could be some other error I have not seen yet, since I have at least 2

[2022-09-27 22:03] jzabroski commented on #2572
I believe this is caused by a combination of two bug fixes in 2.4.2 : #2401 (Fixed in #2417 ) and #2418 , where I left a comment : https://github.com/xunit/xunit/issues/2418#issuecomment-1260088208

[2022-09-27 22:16] jzabroski commented on #2572
This error can also happen in the correct scenario where it should raise (but arguably should explain to the users which values are converted incorrectly) but wasn't raising in 2.4.1:

[code]

[2022-09-29 07:34] bilalisa2022 commented on #2441
@bradwilson Have you considered using the .NET core way to load an assembly: `AssemblyLoadContext.Default.LoadFromAssemblyPath(assemblyPath);`

[2022-09-29 13:43] RokasMarcinkevicius commented on #2342
As this thread shows up on google, what is the best way to properly set it up?

[2022-09-29 19:51] YegorStepanov opened #2587 "Deadlock when synchronously awaiting an async method in GitHub Actions"
Deadlock in **Windows**/**Linux** when 2 tests wait the tasks in sync.
Deadlock in **Windows**/**Linux**/**macOS** when 3 tests wait the tasks in sync. (**macOS** has 3 threads in **GH Actions**)

I cannot reproduce it locally, but **GH Action** always falls.

Other test frameworks run fine.

For 2 tests:
![image](https://user-images.githubusercontent.com/19392641/193124662-967ac349-a4a0-4c85-88d2

[2022-09-29 19:54] YegorStepanov commented on #2587
MacOS falling when 3 methods run in parallel (I will update issue):

![image](https://user-images.githubusercontent.com/19392641/193128999-7c544a17-fe73-4f0d-a0bf-de153d4adc3f.png)
https://github.com/YegorStepanov/xunit-deadlock/actions/runs/3153957706

[2022-09-29 23:44] bradwilson commented on #2441
@bilalisa2022 `xunit.execution` does not target .NET Core, it targets .NET Standard 1.1. It is not realistically possible to change these dependency, because it would break forward compatibility from older v2 runner utility.

This isn't an issue with v3, since test assemblies are programs, not libraries, so they don't get loaded with `Assembly.Load`.

[2022-09-30 10:39] bilalisa2022 commented on #2441
@bradwilson Can you spell out for me? What am doing wrong and what should I be doing instead?

[2022-10-01 19:08] bradwilson commented on #2371
Now thinking about usability and the command line.

# Meta-runner

For the console meta-runner (`xunit.v3.runner.console.exe`), since seed values are per-assembly, my thought was to update the command line to allow appending `:seed` onto the filename.

Usage today:

[code]

Proposed usage:

[code]

The motivation for the syntax here is that the colon is the universal "this isn't a legal part of a

[2022-10-02 21:18] toseni opened #2588 "Assert.Equal overload for DateTimeOffset that takes precision"
It was unexpected that `Assert.Equal` for `DateTime` has overload which allows to specify equality precision, but  `Assert.Equal` for `DateTimeOffset` does not.
Since `DateTime` and `DateTimeOffset` are very similar types, they should also have same `Assert.Equal` overloads.

[2022-10-02 21:20] bradwilson commented on #2441
@bilalisa2022 There isn't anything you can do about this that I'm aware of, short of pulling the v2 source, making the changes yourself, building your own version, and using that.

[2022-10-04 10:36] ViRuSTriNiTy opened #2590 "What is a `App.config` and `test tab` mentioned in the docs?"
Hi there,

while trying to track down missing logging information in my tests I found the following information in the [Capturing output](https://xunit.net/docs/capturing-output) section of the documentation that states:

I am totally confused because I cannot find any information about an `App.config` in connection with tests and also I cannot find a `Tests` tab in Visual Studio 2022.

Can someon

[2022-10-04 12:35] bartelink commented on #2590
As the Issue template likely said, Issues are for verified problems. Discussions and/or Stack Overflow should be exhausted first
a) to conserve precious maintainer time/attention
b) to get you answers more quickly

There is no xunit specific information, its a standard .net concept. This is similar to any console app (or a web.config in a web app). If you use visual studio to add an application co

[2022-10-04 14:25] 0bviouSquirre1 commented on #1018
As a brand-new user to xUnit, I don't have the experience or knowledge necessary to contribute anything yet, in large part because I cannot find any kind of documentation that could help get me to a place where I could make a contribution.

Having to install Yet Another Thing I Don't Understand (fluent assertions) just to make the Thing I Barely Understand somewhat usable is an incredibly daunting

[2022-10-04 14:42] bartelink commented on #1018
re ☝️☝️

I would add

4. clone the repo and load the solution - there is no need to go decompiling things or using doc generators - use an IDE to navigate.

@0bviouSquirre1

Taking a stab:

`Assert.IsType<T>` checks whether the type can be cast to the specified type. It's intended for use when checking an unknown `object`. It happens to return the dowcasted value for you to do further assertions o

[2022-10-04 14:46] 0bviouSquirre1 commented on #1018
Wow, thank you! That was incredibly clear and helpful.

I only posted here to show support for the idea that this documentation is sorely needed, with my minor issue as an example. I wasn't expecting to receive actual help. I genuinely appreciate it.

[2022-10-04 18:48] bradwilson commented on #1018
The answer is both "yes" and "no". 😁

The Intellisense for `Assert.IsType` says this:

<img width="357" alt="image" src="https://user-images.githubusercontent.com/16944/193898870-8891d4b3-ccc4-46e2-8cd8-fc351e04e736.png">

So this assertion is checking for _exact type_, not _compatible type_; the latter is handled by `Assert.IsAssignableFrom`:

<img width="317" alt="image" src="https://user-images

[2022-10-05 08:33] Soundman32 opened #2591 "False positive xUnit1033"
xUnit1033 is generated from the following code:

[code]

I guess this is because the analyser is looking for a constructor that takes the single parameter of the type referenced by `IClassFixture<>` but doesn't find it.

EDIT: Updated constructor

[2022-10-05 12:05] bartelink commented on #2591
Did you not mean public MyTestClass(MyFixture fixture, ITestOutputHelper testOutputHelper)

(You would likely have gotten a quicker answer if you asked on stack overflow...)

[2022-10-05 13:06] Soundman32 commented on #2591
I'm not asking for help, I'm reporting a bug.

I've edited my example constructor.

[2022-10-05 21:36] Eliminator1999 commented on #2534
Hi, I am a first time contributor. Would like to take this task, appreciate any help with starting

[2022-10-05 22:58] davidmatson opened #2592 "Support loading an Application Manifest"
I'm trying to write a test that instantiates component via registration-free [COM](https://learn.microsoft.com/en-us/dotnet/framework/interop/registration-free-com-interop)/[WinRT](https://blogs.windows.com/windowsdeveloper/2019/04/30/enhancing-non-packaged-desktop-apps-using-windows-runtime-components/#:~:text=The%20restrictions%20blocking%20this%20application%20scenario%20have%20now,to%20store%2

[2022-10-05 23:03] davidmatson commented on #2592
Here's where Project Properties allows setting this kind of manifest:
![image](https://user-images.githubusercontent.com/3360277/194179316-bbea8de3-999d-4cf8-9c28-bfda9b25cc35.png)

[2022-10-06 17:59] davidmatson commented on #2592
There are Win32 APIs to load an application manifest. The code do to it looks something like this:

[code]

Could xUnit.net automatically use the manifest embedded in the test assembly when executing? Alternatively, could it add a mechanism to opt in to this behavior?

[2022-10-07 08:49] bjorn-stromberg-codic commented on #2090
This still happens regularly in our CI as well two years later. Is there any good work around?

[2022-10-07 18:21] JulianBirch commented on #2572
The thing is, you want the conversion to happen. Otherwise it makes it really awkward to work with e.g. decimals which can't be set up in an attribute.

[2022-10-07 20:42] x789 commented on #2535
It took some time until I got familiar with the codebase.
@bradwilson, can you please check if my assumptions are valid?
1. The `main` branch is the baseline of the next major release (i.e. xunit 3)
2. I do not need to add a test case in the project `xunit.v2.tests` on branch `main` since it does not test the implementation of v3.
3. The `v2` branch is the baseline for the next (minor) release of

[2022-10-07 23:40] bradwilson commented on #2535
@x789

1. Correct
2. Correct, that project is about testing the v3 runners' ability to run v2 tests
3. Correct, although there is no current plan for another v2 release (doesn't mean there won't be one, but the bar is exceptionally high, and this wouldn't be enough to cause one)
4. This is something I hadn't thought about. I'd say that there are two ways you could interpret this:
    1. `-nocolor`

[2022-10-09 06:45] bradwilson commented on #2090
No, the bug is still present as far as I know.

[2022-10-10 10:37] sysa20 commented on #2585
hello is this issue still open, can I grab it?

[2022-10-10 11:44] SrChronus commented on #2585
I believe it is still open yes.

[2022-10-11 14:39] mufasalg0 commented on #1999
Is it possible to run them in order? Without disabling the parallel execution for the whole framework?

I have found this:
https://github.com/tomaszeman/Xunit.Extensions.Ordering#test-cases-ordering

In order to run  classes in order, I need to create AssemblyInfo.cs and add following lines in AssemblyInfo.cs

using Xunit;
//Optional
[assembly: CollectionBehavior(DisableTestParallelization = true)

[2022-10-12 08:05] drvic10k commented on #2377
why was this issue closed? was it fixed?

[2022-10-13 01:05] AArnott commented on #2377
@drvic10k Why do you say it was closed? It's active now, and the history on the issue doesn't suggest it was ever closed. Perhaps you were confused by the link from a closed issue that appears in this issue's history?

[2022-10-13 06:32] drvic10k commented on #2377
@AArnott you are right, that is indeed a label from the linked issue

[2022-10-15 02:05] abelbraaksma commented on #2587
Wow! I just spent two days investigating this, readily assuming it was own mistake in some race condition. But since I don’t have access to the GH actions machines, I couldn’t  do much but try (see https://github.com/abelbraaksma/TaskSeq/pull/27).

In my case, the issue popped up only after having a decent number of tests. 40 to 100 run fine, the number is different each time.

One of the biggest

[2022-10-15 02:10] abelbraaksma commented on #2587
Btw, just a moment ago I created a mini runner that just takes all the tests of the assembly, and run them dozens of times in parallel. This showed me that the problem wasn’t with me, but with XUnit.

Locally this was easier, as NCrunch has a “run tests repeatedly until they fail” mode. After running for several hours, in parallel, all was still green. In other words, the issue really seems to be

[2022-10-15 09:01] YegorStepanov commented on #2587
I've read that you can get output from the console if you run the tests through the cmd script, not directly `dotnet test`.

I meant `GH Action` timeout, not [Timeout]. I updated the issue.
https://github.com/YegorStepanov/xunit-deadlock/blob/365e75a4d7dbb0748cc539ab6ea98f0286d25a82/.github/workflows/tests.yml#L12

[2022-10-15 19:39] bradwilson commented on #2371
The seed value needs to be passed through to the remote process for v3 runner, so tagging #2337

[2022-10-15 19:42] #2371 closed

[2022-10-15 19:51] bradwilson commented on #2371
I landed on `<path>[:seed]` for `xunit.v3.runner.console.exe`:

[code]

And just `[:seed]` for the in-process runner:

[code]

Seed is also settable via configuration file: https://xunit.net/docs/configuration-files#seed

[2022-10-16 16:50] abelbraaksma commented on #2587
Ah, thanks, I wasn't aware of that option. Though I currently use `dotnet test --blame-hang-timeout 60s`, your option may be more idiomatic.

I wonder if this issue is caused by thread starvation, as seemingly soft all the way back in 2015: https://github.com/xunit/xunit/pull/257.

[2022-10-16 19:16] bradwilson commented on #2535
Giving this a little more thought, I believe the job for filtering out ANSI belongs at the console runner level (presumably, by creating something which replaces the static `Console` calls with an object that can optionally filter out all color including ANSI sequences). If you opt not to do that, I will open a separate issue to update `-nocolor` behavior to do this.

[2022-10-16 19:19] bradwilson commented on #2578
Without a repro it's hard to know exactly what's going on here, but if you're using .NET Framework (as opposed to .NET Core/.NET 5+), then my suspicion is that it has to do with the fact that the two tests are being run via different back-compat flags that cause .NET Framework itself to behave differently. One thing to check would be to make sure both are being compiled against the same target fra

[2022-10-16 22:38] bradwilson commented on #1999
I can't speak to specifically how that extension works, since I didn't write it and haven't ever used it.

What I can speak to is how parallelization works in general: https://xunit.net/docs/running-tests-in-parallel

This line is disabling parallelization:

[code]

Ordering should be orthogonal to parallelization.

[2022-10-16 23:43] bradwilson commented on #2188
Note: TRX files can only describe a single test assembly, whereas we support composite result files; therefore, the TRX transformation will have to auto-generate filenames to support multiple assemblies. When results are being output for a single file, the original filename will be used as-is; for everything else, filenames will have `-1`, `-2`, etc. appended to them.

[2022-10-17 09:12] bradwilson commented on #2188
Fixed in 653218c4f84714e7031c8118d9d0bb1f5529958a

[2022-10-17 11:04] x789 commented on #2535
Yes, I think the console-runner (who is aware of the _nocolor_-setting) is the right place. I'm still wondering which is the best solution for handling ANSI-escapes. As for now, I see two possibilities:
a. The `TestOutputHelper` (the class that escapes all non-displayable characters) escapes all characters. That means, that its behavior remains unchanged. The console-runner then checks if a string

[2022-10-17 20:32] bradwilson commented on #2535
I think solution B should actually be (if you're going to do any work in the console runner at all) to strip the color sequence (anything starting with `ESC[` and ending with the first `m`), rather than to re-escape the `ESC` and create cluttered output. I don't think it's worth the extra effort to just go back to the ugly display we have today.

So I think I might say the options actually are:

A

[2022-10-17 22:36] #2188 closed

[2022-10-20 17:21] vjmanda opened #2602 "XUnit ThrowsAsync<> doesn't seem to be checking the exception type. Is this a bug?"
### Discussed in https://github.com/xunit/xunit/discussions/2601

<div type='discussions-op-text'>

<sup>Originally posted by **vjmanda** October 20, 2022</sup>
XUnit ThrowsAsync<> doesn't seem to be checking the exception type.

I am trying to check the type of the exception thrown in my unit test. However, XUnit does not seem to be not checking the exception type but only that its an Exception.

[2022-10-20 17:48] alexandrehtrb opened #2603 "Suggestion: Assert Type and cast result in `out` parameter"
Hello,

I have a suggestion of assertion method, for checking an object's type and then casting into that type.
Something like this:

[code]

The reason is to save a line of code, of casting an object after checking its type.

[2022-10-20 19:05] x789 commented on #2535
I will start with your option B. I think that I will implement option C afterwards.

[2022-10-21 07:46] bartelink commented on #2603
`Assert.IsType<T>` already returns the casted value, so you can write `var castedObject = Assert.IsType<T>(x)`

[2022-10-21 08:24] bartelink commented on #1200
@mufasalg0 Please don't necro-post on issues like this.

It'd help a lot if you confine all your questions and requirements to a single discussion item, and also link to any open Stack Overflow issues you have regarding it too.

Having your needs clearly expressed in a single place is the best way for a maintainer to step in and give you a clear answer when they have the capacity to do so.

(my wi

[2022-10-21 09:26] #2602 closed

[2022-10-21 09:27] vjmanda commented on #2602
Issue due to not awaiting ThrowsAsync

[2022-10-21 12:04] neilbgr opened #2604 "Assert.Null() Assert.NotNull() don't use NotNullAttribute nor MaybeNullAttribute"
Can you replace, in Assert class, these methods NotNull() and Null() like this in order to Roselyn compiler knows the nullability :

[code]

[2022-10-21 13:53] alexandrehtrb commented on #2603
Thanks!

[2022-10-21 13:53] #2603 closed

[2022-10-22 09:15] x789 commented on #2535
The `TestOutputHelper` now does not escape the `ESC` of an [ANSI-SGR sequence](https://en.wikipedia.org/wiki/ANSI_escape_code#SGR_(Select_Graphic_Rendition)_parameters).
The `ConsoleRunnerLogger`  now removes all ANSI-SGR sequences when `-nocolor` is `true`.

But I found another implementation of `IRunnerLogger`; `MSBuildLogger`. With the current approach, it would write color sequences to an (MSB

[2022-10-22 19:42] bradwilson commented on #2535
@x789 There is no `NoColor` options for the MSBuild runner, and I don't think we should add one (as MSBuild itself outputs things into color, so we wouldn't be able to influence that).

I'm not sure what MSBuild will do if presented with ANSI color (should be easy enough to verify). I think the easiest strategy is just "do nothing" for now.

[2022-10-22 20:48] bradwilson commented on #2535
@x789 I just noticed this in the MSBuild help:

[code]

I wonder what happens when we use `DisableConsoleColor` but still send our own ANSI colors? Will it filter them out? If not, is it even possible for us to know the user has requested `DisableConsoleColor`?

Once again, I'd like to say that it's entirely reasonable to ignore this problem and pick it up as a secondary issue. The primary value w

[2022-10-22 20:48] Socolin commented on #2535
About -NoColor there is an env variable too used in many programs: NO_COLOR
https://no-color.org/
But I don't think the behavior should change things about escape, when NO_COLOR is set, color codes should not be emit in the first place.

I think when -NoColor is given XUnit could set this env so it's easy for underlying code to not emit color codes.

[2022-10-22 20:51] bradwilson commented on #2535
@Socolin We support reading that:

https://github.com/xunit/xunit/blob/653218c4f84714e7031c8118d9d0bb1f5529958a/src/xunit.v3.runner.common/Frameworks/TestProjectConfiguration.cs#L75

I hadn't considered that we should also set it when the user provides `-nocolor`. I'll open a new issue for that. Thanks!

[2022-10-22 20:53] bradwilson opened #2605 "Set NO_COLOR environment variable when user adds -nocolor command line switch"
We already support [no-color.org](https://no-color.org/)'s recommendation for [disabling color if the user has set the `NO_COLOR` environment variable](https://github.com/xunit/xunit/blob/653218c4f84714e7031c8118d9d0bb1f5529958a/src/xunit.v3.runner.common/Frameworks/TestProjectConfiguration.cs#L75), but a comment in a [related issue](https://github.com/xunit/xunit/issues/2535#issuecomment-12879120

[2022-10-23 09:11] x789 commented on #2535
@bradwilson: Thank you for highlighting the problem with semicolon-separated attributes. I overlooked this possibility in the Wikipedia article.
When I read it again, I saw that arguments may also be omitted:

Accordingly, I will change the regex to:
`"\\e\\[\\d*(;\\d*)*[m]"`

[2022-10-23 15:37] sysa20 commented on #2585
Hi, the solution was found. The solution is made so that the current XUnit API contract does not change. I made a fix in the code that correctly accepts an attribute parameter that is inherited.

[code]

![image](https://user-images.githubusercontent.com/61652662/197392090-e91a2707-6504-47d2-9bdf-196812ab998a.png)

[2022-10-23 16:20] Socolin commented on #2535
If you want to test with complex scenarios, I have a nuget package generating color codes accordingly to the wikipedia pages https://github.com/Socolin/Socolin.ANSITerminalColor

[2022-10-23 20:17] daerhiel commented on #2591
Upvoting, it seems to be an annoying bug in static analyzer not detecting fixture injection when constructor has more than 1 parameter. The parameter order doesn't matter.

![image](https://user-images.githubusercontent.com/485120/197416117-8db933c0-f780-4dd9-b237-bed466d26f64.png)

[2022-10-24 15:02] mwpowellhtx commented on #1646
API surface area, I believe is the verbiage. To date, AFAIK, that is now also `netstandard2.1`, IIRC, accounting for new `core` activities.

[2022-10-24 20:14] FreeYourMinds commented on #2591
+1

An while at it, applying the quickfix will generate a constructor **without** access modifier

[2022-10-25 03:06] bradwilson commented on #1646
I will reiterate that the documentation page above (https://xunit.net/docs/why-no-netstandard) describes why unit test projects must target a runtime and not an API set.

Your unit tests are a program. Programs must be targeted at a runtime; .NET Standard isn't a runtime, it's an API surface area. A runtime is required to run those tests.

This isn't something we can easily control in the case of

[2022-10-25 03:16] bradwilson commented on #1646
Here is how this is surfaced in w/ xUnit.net v2:

![image](https://user-images.githubusercontent.com/16944/197673397-8149cd8e-f6bb-4a2b-9681-ac3a72ebfc68.png)

![image](https://user-images.githubusercontent.com/16944/197673631-43a3558f-69d4-4caf-a75b-7092d6d28ffa.png)

Unfortunately, because you're using `dotnet test`, the UX here is outside of our control.

Here's what it looks like in Visual Stu

[2022-10-25 03:18] bradwilson commented on #1646
In both cases, though, you have to willfully overlook the NuGet warning that you're doing something that isn't compatible. I would prefer if this had been an error instead of a warning, though I understand why (because they aren't willing to declare incompatibility with things that are too older to understand .NET Standard, even though we explicitly don't support it).

[2022-10-25 08:36] Jenn712 commented on #1976
My myspace was static beauty

[2022-10-28 02:24] codelovercc commented on #2027
I'd like to know how do you solve this situation?

[2022-10-28 02:25] codelovercc commented on #2027
I'd like to know how do you solve this situation? @HugoPeters1024

[2022-10-28 04:48] codelovercc opened #2609 "How to intentionally fail?"
I'd like to know how do you solve this situation? @HugoPeters1024
Cause I am dealing with this now....

_Originally posted by @codelovercc in https://github.com/xunit/xunit/issues/2027#issuecomment-1294363305_

[code]
In this code, queue.OnMessage has an Action param, any of exception throw in the Action will be discarded by the caller.that means that my test can never fail.

[2022-10-28 11:21] trivalik commented on #2609
Basically I would do it like:
[code]

If required you can also move out the Exception object.

[2022-10-29 09:04] codelovercc commented on #2609
Thank you for reply this.
This code is a test for RabbitMQ using with [https://github.com/EasyNetQ/EasyNetQ](https://github.com/EasyNetQ/EasyNetQ). The async Action will run multi times when there is more than one messages received from the RabbitMQ, that means we can't wait all of these async action, cause we don't know how many messages that we will receive.

[2022-10-29 18:50] bradwilson opened #2612 "Is the ordering in AssertEqualityComparer correct?"
When looking at [AssertEqualityComparer.Equals](https://github.com/xunit/assert.xunit/blob/f443bdde4276275b31efc7defeb30b83f961b9b0/Sdk/AssertEqualityComparer.cs#L58), clearly the ordering of the checks is important in terms of setting predictable priority.

As of the writing of this issue, the current priority list (from highest to lowest is):

1. Implementing `IEquatable<T>`
2. Implementing `ICo

[2022-10-30 17:03] trivalik commented on #2609
You have to define a end, else a test cannot be written. Does the messages which are received not declare when it is the end? If so a flag can be set which mark that the wait is over and will lead to the final assert.

[2022-10-30 17:09] trivalik commented on #2612
Why IEnumerable? This lead to strange effects if you forget that your complex object implements IEnumerable. See https://github.com/xunit/xunit/issues/2485.

[2022-10-30 17:55] bradwilson commented on #2612
To support equality for collections.

[2022-10-31 18:24] vorou commented on #1540
Facing the same issue, is the repro from @zenlambda enough to re-open and investigate this?

[2022-11-01 07:50] bradwilson commented on #1540
@vorou The problem is @zenlambda's code has a fatal bug. It overrides the global `Console` output stream in the `TestBase` constructor, but it does not restore it. So as soon as something tries to write to the console after the test is done, the `Converter` class tries to intercept it and write the output into the `ITestOutputHelper`, which is no longer valid. `TestBase` needs to implement `IDispo

[2022-11-01 12:14] RichardPoes commented on #2342
Using the example on the [xUnit documentation](url) it is probably because you accidentally wrote
[code]
instead of
[code]
At least that was what I did wrong.

[2022-11-02 01:27] dmitryserbin commented on #2591
I have the same issue: xUnit 2.4.2, .NET 6.0.402

[2022-11-02 10:09] mshwf commented on #2017
This means I should implement `InitializeAsync()`, but I only need `DisposeAsync`

[2022-11-02 15:08] bartelink commented on #2017
On V2, stuff is baked - there's little chance of anything changing (it's been noted elsewhere that there's a very high bar for anything). On V3 this does not apply. (Feel free to restate your comment if you're making one beside the fact that the outgoing construct was noisy for you?)

[2022-11-02 15:19] mshwf commented on #2017
I'm on V2 so I think will update the code once V3 is out.

[2022-11-02 21:52] bradwilson commented on #2017
Yes, correct, an empty `InitializeAsync` is needed in v2, and can be removed in v3 once you shift from `IAsyncLifetime` to `IAsyncDisposable`. (In v3, `IAsyncLifetime` in fact "inherits" from `IAsyncDisposable`, as you'd expect when moving forward technology-wise, even though it's a breaking change since the return types change from `Task` to `ValueTask`.)

[2022-11-02 22:05] eli-entelis commented on #2605
is this still up for grabs? would like to try

[2022-11-03 00:20] bradwilson commented on #2605
@eli-entelis Sure, I'll assign it to you!

[2022-11-04 04:29] mufasalg0 opened #2614 "xunit v3 unable to find on nuget"
I am trying this website to get PackageReference:
https://www.myget.org/feed/xunit/package/nuget/xunit/2.4.3-pre.2#

`<PackageReference Include="xunit" Version="2.4.3-pre.2" />
`
When I put this on csproj I am getting an error as Unable to find package xunit with version (>=2.4.3-pre.2)

I have also tried this:
`<PackageReference Include="xunit" Version="2.4.3-pre.1" />
`I am also getting the same

[2022-11-04 09:14] Romanx commented on #2614
This is because as you found the pre-release are not on nuget they're hosted on myget so the nuget restore needs to know the feed to ask for the package from.

Here are some docs for package sources: https://learn.microsoft.com/en-us/nuget/consume-packages/install-use-packages-visual-studio#package-sources

You'll need to add the following feed and the restore should work:
`https://www.myget.org/F

[2022-11-05 18:52] bradwilson commented on #2535
Fixed by #2606

[2022-11-05 18:52] #2535 closed

[2022-11-05 19:31] bradwilson commented on #2585
@SrChronus wrote:

This is by design.

In addition, it's not even clear what your example is trying to achieve: it uses neither the original test nor the original test data, so why is inheritance even something you're trying to do? Perhaps a real-world example would help to clarify.

[2022-11-05 19:51] sysa20 commented on #2585
@bradwilson
Testing all theory data rows when a test is inherited, is perfectly correct (by design), also in my opinion, but in hypotetic case someone uses some sort of BaseTest class, and there will be some specific case where you need change some particular case. Using my fix You are able to do it.
It can be used in projects where you are writing, Data Repository layer unit tests, where 95% of t

[2022-11-08 03:19] ebudai opened #2618 "Local ref field causes COMException : Field of ByRef type. (0x801312E4)"
Instantiating a ref struct instance in a test method causes the test to throw COMException.

To reproduce:

Project under test:
`public struct Token { public int Value; }

public ref struct Parser
{
    public Parser(ref Token token) => Current = ref token;
    public ref Token Current;
}`

Test project:
`public class UnitTest1
{
    [Fact]
    public void Test1()
    {
        Token[] tokens = {

[2022-11-08 10:35] ebudai commented on #2618
Investigating further, this is due to the ref Token field, and not the ref struct.  That can be changed to struct without resolution.

[2022-11-08 21:58] #2618 closed

[2022-11-09 10:11] filzrev commented on #936
There is following feature ticket on xUnit.net v3 roadmap.
https://github.com/xunit/xunit/issues/2457

If this feature will be supported by v3.
Attached files can display files on VS Test Explorer.

[2022-11-09 17:09] ebudai commented on #2618
was due to dotnet 6 sdk improperly allowing ref locals

[2022-11-09 19:08] zachspang commented on #2574
I am working on this.

[2022-11-09 19:51] MisinformedDNA opened #2620 "Add necessary features to allow parallelism with Playwright"
I want to use xUnit with Playwright, but [xUnit limitations](https://github.com/xunit/xunit/issues/2003) make that an unappealing option due to non-parallelism. [You said](https://github.com/xunit/xunit/issues/2003#issuecomment-527957478):

But not being able to run _any_ tests in parallel is a huge step back in performance and gives MSTest and NUnit a huge performance advantage.

You've obviously

[2022-11-10 10:28] ExterminatorX99 opened #2621 "`Assert.Equivalent` doesn't ignore non-public properties"
`Assert.Equivalent` docs say it only checks public instance properties, but it actually checks public and non-public, instance and static properties.

Repro
[code]

[2022-11-10 18:48] #2605 closed

[2022-11-11 03:08] bradwilson commented on #2314
@MartyIX wrote:

This is not an explicitly tested scenario. I have zero experience with MAUI and no idea what `net6.0-maccatalyst` is, nor how VSTest (which is what `dotnet test` is) interacts with our VSTest plugin.

I have no context in which to give advice here.

One thing I can say for certain: we have no intention of supporting new platforms for the v2 codebase. If this is broken with v2 and

[2022-11-11 21:32] bradwilson commented on #2314
At the moment, the best you can expect is that we'll just treat it like `net6.0`, since we have no explicit support for (or knowledge of) that TFM.

[2022-11-14 02:00] h15ter opened #2623 "Get theory data arguments outside of the test method body"
Hi Guys,
I'm migrating from MSTest to XUnit. The project is large and using data-driven tests.
With MSTest, each data record was accessible via test context, so I could handle it in a single place (test initialize method) per test class.
With XUnit 2.x I can only get the data record as an argument of the test method, which means each test needs extra code to handle the data explicitly. I find it i

[2022-11-14 05:15] dahlbyk commented on #2456
Here's what I see for `[InlineData][InlineData("hi")]`:
[code]

So serializing the empty `InlineData` on .NET Core+ runs through here:
https://github.com/xunit/xunit/blob/93616f73fc2c5a1dca11963a41d52ce9e51f1bb3/src/xunit.execution/Sdk/Frameworks/XunitTestFrameworkDiscoverer.cs#L166-L167

It seems like the bug may be inconsistency in populating `XunitTestCase.TestMethodArguments`?

[2022-11-14 06:40] neilbgr commented on #2604
You're right: with 2.4.2 it's okay, I was with 2.4.1.
Thanks.

[2022-11-14 06:40] #2604 closed

[2022-11-14 18:41] bradwilson commented on #2456
This bug was likely introduced when support for parameter defaults was added. When the code was written, "no parameters" meant "this is a `Fact`, not a `Theory`" but this is not strictly speaking true any more.

[2022-11-14 18:42] bradwilson commented on #2456
(Another way to say this is: originally, `[InlineData]` was a broken declaration, because there was no such thing as a parameter-less `Theory`.)

[2022-11-14 19:12] dahlbyk commented on #2456
I'm wondering if dropping `xunitTestCase.TestMethodArguments.Length == 0` might be sufficient. But at a loss as to why Framework and Core+ would have different behavior, and not sure where to write a failing test for Core:
https://github.com/xunit/xunit/blob/93616f73fc2c5a1dca11963a41d52ce9e51f1bb3/test/test.xunit.execution/Sdk/Frameworks/TheoryDiscovererTests.cs#L1

[2022-11-15 04:14] mufasalg0 commented on #621
I can not add this dependency from https://myget.org/feed/xunit/package/nuget/xunit.v3# from here to .csproj,
When I add this PackageReference to project ,I am getting an error as :Unable to find package xunit.v3 with version(>=0.1.10-pre.118) error.
Is there any other way to add this?

[2022-11-15 21:43] bradwilson commented on #621
@mufasalg0 The instructions for using the pre-release v3 version are here: https://xunit.net/docs/v3-alpha

They were written for an older release, but the steps should be the same (just use the updated version number(s)). Let me know if these don't work for you.

[2022-11-15 23:23] teo-tsirpanis commented on #2553
@bradwilson [I have created a branch](https://github.com/teo-tsirpanis/xunit/tree/netstandard2.0) that brings back .NET Standard 2.0. Can I open a PR?

It feels to me that the underlying assumptions that led to the rejection of targeting .NET Standard 2.0 are incorrect. You said in https://github.com/xunit/xunit/issues/2568#issuecomment-1233608617

which I don't think is necessary, if we multi-tar

[2022-11-16 13:47] SrChronus commented on #2585
@bradwilson the point of the shown code is that the overridden test does explicitly NOT use the original test NOR the original data.
The whole point of this is feature flag testing. Say that I have a method I have under test such as

[code]
now I want to test this method both with the flag on and off, I need to override the original test
[code]

IF I do the above I certainly wouldn't want both the

[2022-11-16 15:10] waf commented on #2439
This analyzer is available in .NET 7 now, but to get it to work I needed to explicitly enable it in my `.editorconfig`:

[code]

[2022-11-18 09:51] hasrthur commented on #2591
Unfortunately, I have the same issue with xUnit 2.4.2 and .NET 7.0.100

[2022-11-29 17:26] mcallaghan-geotab commented on #1951
But where is v3? https://www.nuget.org/packages/xunit#versions-body-tab
Can we get a patch release to the `2.4.X` stream?

[2022-11-29 20:25] zachspang commented on #2534
I am going to start working on this.

[2022-11-30 19:07] Arithmomaniac opened #2628 "Add "don't use ConfigureAwait(false)" analyzer"
Someone pointed out to me recently that it seems that you explicitly should **not** use `ConfigureAwait(false)` in certain places when using XUnit:

I believe this is a pretty obscure point and would be a great candidate for an analyzer to enforce (or at least suggest). There are so many "CAF missing" analyzer out there (e.g. CA2007) that copying-and-modifying one to invert the rule seems like it